node_modules/**
vendor/**
build/**
example/vendor/**
example/build/**
example/dist/**
*.min.js
*.bundle.js
*.snap
*.log
*.lock
*.map
*.d.ts
*.test.js
*.test.jsx
*.test.ts
*.test.tsx
*.spec.js
*.spec.jsx
*.spec.ts
*.spec.tsx
